logs/*
.DS_Store
data/*
!data/excel
!data/roles
!data/types
yao-0.10.3-darwin-amd64
public/yao
db/*
!data/assets
dist
.tmp
.pnpm-store
public/iframe/details
forms/order.form.yao
tables/order.tab.yao
models/order.mod.yao
forms/product.form.yao
tables/product.tab.yao
models/product.mod.yao
openapi/certs/apple
models/test_model_*_file.mod.yao
debug.log
.env
!logs/.gitkeep
!db/.gitkeep